.root {
  @apply grid gap-0 grid-cols-1 lg:grid-cols-3 lg:grid-rows-2;

  & > * {
    @apply row-span-1 overflow-hidden;
    height: 500px;
    max-height: 800px;

    @screen lg {
      height: inherit;
    }
  }
}

.layoutA {
  & > *:nth-child(6n + 1),
  & > *:nth-child(6n + 5) {
    @apply lg:col-span-2 row-span-2;
  }
}
.layoutB {
  color: green;
}
